html,
body {
	height: 100%;
}

#wrap {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: black;
}

.fill {
	position: absolute;
	top: 0;
	left: 0;
	//width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-filter: blur(50px);

	img {
		display: block;
	}
}

.frame {
	position: absolute;
	top: 8%;
	left: 33%;
	width: 450px;
	height: 450px;
	margin: 0;
	border: 10px solid white;
	-webkit-border-radius: 5px;

	img {
		display: block;
		width: 430px;
		height: 430px;
		background-color: gray;
	}
}

.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;

	.ad {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.contest {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	.area {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 150px 20px 20px 150px;

		.btn {
			visibility: hidden;
		}

		&:hover {
			.btn {
				visibility: visible;
			}
		}
	}
}

.jjo,
.meet-and-greet {
	display: none;
	width: 100%;
	height: 100%;
	//-webkit-background-size: contain;

	.name {
		position: absolute;
		width: 190px;
		font-size: 25px;
		font-weight: bold;
		color: #fff;
		line-height: 110%;
	}
	.avatar {
		position: absolute;
		width: 150px;
		height: 150px;
		border: 10px solid white;

		img {
			display: block;
		}
	}
}

.jjo {
	background: url(../images/winner-jjo.jpg) center center no-repeat;

	.name {
		top: 370px;
		left: 520px;
	}
	.avatar {
		top: 215px;
		left: 520px;
	}
}
.meet-and-greet {
	background: url(../images/winner-meet-and-greet.jpg) center center no-repeat;

	.name {
		top: 338px;
		left: 415px;
	}
	.avatar {
		top: 285px;
		left: 250px;
	}
}